/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* common css */
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}


/* title css */
header h1{
    margin-top: 2rem;
}

.functional-part{
    background-color: #F8F8F8;
}

/* label field common css */
label{
    font-weight: 500;
}

/* input field common css */
input{
    background-color: #DCDCDC;
    outline: 1px solid lightgray;
    border: none;
    font-weight: 500;
    height: 1.8rem;
}

/* Hiding increase/decrease arrow -
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hiding increase/decrease arrow - Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
input::placeholder {
    font-size: 13px;
    font-weight: 400;
}

.similar-input{
    width: 80%;
}

/* alert text common css */
.alert-text{
    font-size: 14px;
    color: red;
    display: none;
}

.expense-alert{
    /* display: none; */
    font-weight: 500;
    font-size: 1rem;
}
#saving-input{
    text-align: center;
}



/* mobile device css */
@media screen and (max-width: 425px) {
    header h1{
        margin-bottom: 1rem;
        margin-top: 2rem;

    }
}