/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* common css */
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* title css */
header h1{
    margin-top: 2rem;
}

h5{
    font-weight: 600;
}

/* side image css */
.image-box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-box img{
    display: block;
    border-radius: 10px;
    transform: scale(1);
    transition: transform .4s linear;
}

.side-img:hover{
    transform: scale(1.2);
    transition: transform .4s linear;
}

/* functional part css */
.functional-part{
    padding: 25px 80px;
    border-radius: 10px;
}

/* label field common css */
label{
    font-weight: 500;
}

/* input field common css */
input{
    background-color: #ffffff;
    outline: 1px solid lightgray;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    height: 1.8rem;
    padding-left: 5px;
}

/* Hiding increase-decrease arrow -
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hiding increase/decrease arrow - Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input::placeholder {
    font-size: 13px;
    font-weight: 400;
}

/* alert text common css */
.alert-text{
    font-size: 14px;
    font-weight: 500;
    color: red;
    display: none;
}

.expense-alert{
    /* display: none; */
    font-weight: 500;
    font-size: 1rem;
}

.result-text{
    font-size: 16px;
    font-weight: 600;
}



/* mobile device css */
@media screen and (max-width: 425px) {
    header h1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .functional-part{
        padding: 20px 15px;
    }
    .image-box{
        padding: 0px;
    }
    .result-text{
        font-size: 14px;
        font-weight: 600;
    }
}